  {{#if tabs.features.active}}
    <div class="tab-pane active" data-tab="features">
      {{> "modules/daggerheart-sleek-ui/templates/sheets/environments/tabs/environment-features.hbs"}}
    </div>
  {{/if}}
  
  {{#if tabs.potentialAdversaries.active}}
    <div class="tab-pane active" data-tab="potentialAdversaries">
      {{> "modules/daggerheart-sleek-ui/templates/sheets/environments/tabs/environment-adversaries.hbs"
          adversaryCategories=adversaryCategories
          collapsedCategories=collapsedCategories}}
    </div>
  {{/if}}

  {{#if tabs.notes.active}}
    <div class="tab-pane active" data-tab="notes">
      {{> "modules/daggerheart-sleek-ui/templates/sheets/environments/tabs/environment-notes.hbs"}}
    </div>
  {{/if}}