<div class="tabs environment features-tab">
  
  {{! FEATURES }}
  <div class="category-wrapper {{#if (contains @root.collapsedCategories 'env-features')}}collapsed{{/if}}"
    data-category-id="env-features">

    <div class="category-header" data-action="toggleCategory">
      <h2>{{localize "DAGGERHEART.GENERAL.Tabs.features"}}</h2>
      <span class="line"></span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
    
    <div class="category-content features">
      {{#each environmentFeatures as |featureData|}}
        {{> "modules/daggerheart-sleek-ui/templates/components/card-npc-features.hbs"}}
      {{/each}}
    </div>

  </div>
  
</div>