<div class="main-content">

  <div class="header-content">
        {{> "modules/daggerheart-sleek-ui/templates/adversaries/main/adversary-header.hbs"}}
    </div>

    <div class="tab-content">
        {{> "modules/daggerheart-sleek-ui/templates/adversaries/main/adversary-tabs.hbs"}}
    </div>

</div>