<div class="tabs effects-tab">

{{!-- ACTIVE EFFECTS --}}
  <div class="category-wrapper {{#if (contains @root.collapsedCategories 'activeEffects')}}collapsed{{/if}}" data-category-id="activeEffects">

  <div class="category-header" data-action="toggleCategory">
    <h2>{{localize "DAGGERHEART.GENERAL.activeEffects"}}</h2>
    <span class="create-btn">
      <a data-action="createDoc" data-document-class="ActiveEffect" data-type="base" data-tooltip="Create">
        <i class="fa-solid fa-plus icon-button" style=""></i>
      </a>
    </span>
      
    <span class="line"></span>
    <i class="fa-solid fa-chevron-down"></i>
  </div>

  <div class="category-content">
    {{#each activeEffects as |effectData|}}
      {{> "modules/daggerheart-sleek-ui/templates/components/card-effects.hbs" 
        item=effectData.item 
        infoTags=effectData.infoTags
        resourceTags=effectData.resourceTags
        enrichedDescription=effectData.enrichedDescription
        ownershipLevel=@root.ownershipLevel}}
    {{/each}}
  </div>

  </div>  

  {{!-- INACTIVE EFFECTS --}}
  <div class="category-wrapper {{#if (contains @root.collapsedCategories 'inactiveEffects')}}collapsed{{/if}}" data-category-id="inactiveEffects">

  <div class="category-header" data-action="toggleCategory">
    <h2>{{localize "DAGGERHEART.GENERAL.inactiveEffects"}}</h2>
    <span class="create-btn">
      <a data-action="createDoc" data-document-class="ActiveEffect" data-type="base" data-tooltip="Create">
        <i class="fa-solid fa-plus icon-button" style=""></i>
      </a>
    </span>
      
    <span class="line"></span>
    <i class="fa-solid fa-chevron-down"></i>
  </div>

  <div class="category-content">
    {{#each inactiveEffects as |effectData|}}
      {{> "modules/daggerheart-sleek-ui/templates/components/card-effects.hbs" 
        item=effectData.item 
        infoTags=effectData.infoTags
        resourceTags=effectData.resourceTags
        enrichedDescription=effectData.enrichedDescription
        ownershipLevel=@root.ownershipLevel}}
    {{/each}}
  </div>

  </div> 

</div>

