<div class="main-content party">

    <div class="header-content">
        {{> "modules/daggerheart-sleek-ui/templates/sheets/party/main/party-header.hbs"}}
    </div>

   {{> "modules/daggerheart-sleek-ui/templates/components/tabs-basic.hbs"}}

    <div class="tab-content">
        {{> "modules/daggerheart-sleek-ui/templates/sheets/party/main/party-tabs.hbs"}}
    </div>

</div>