  {{#if tabs.partyMembers.active}}
    <div class="tab-pane active" data-tab="partyMembers">
      {{> "modules/daggerheart-sleek-ui/templates/sheets/party/tabs/party-members.hbs"}}
    </div>
  {{/if}}
  
  {{#if tabs.inventory.active}}
    {{> "modules/daggerheart-sleek-ui/templates/components/currency.hbs"}}
    <div class="tab-pane active" data-tab="inventory">
      {{> "modules/daggerheart-sleek-ui/templates/sheets/party/tabs/party-inventory.hbs"}}
    </div>
  {{/if}}

  {{#if tabs.notes.active}}
    <div class="tab-pane active" data-tab="notes">
      {{> "modules/daggerheart-sleek-ui/templates/sheets/party/tabs/party-notes.hbs"}}
    </div>
  {{/if}}