  {{#if tabs.features.active}}
    <div class="tab-pane active" data-tab="features">
      {{> "modules/daggerheart-sleek-ui/templates/adversaries/tabs/adversary-features.hbs"}}
    </div>
  {{/if}}
  
  {{#if tabs.effects.active}}
    <div class="tab-pane active" data-tab="effects">
      {{> "modules/daggerheart-sleek-ui/templates/adversaries/tabs/adversary-effects.hbs"}}
    </div>
  {{/if}}

  {{#if tabs.notes.active}}
    <div class="tab-pane active" data-tab="notes">
      {{> "modules/daggerheart-sleek-ui/templates/adversaries/tabs/adversary-notes.hbs"}}
    </div>
  {{/if}}