<div class="main-content">
    
    <div class="header-content">
        {{> "modules/daggerheart-sleek-ui/templates/main/header.hbs"}}
    </div>

    <div class="tab-content">
        {{> "modules/daggerheart-sleek-ui/templates/main/tabs.hbs"}}
    </div>

</div>