  {{#if tabs.details.active}}
    <div class="tab-pane active" data-tab="details">
      {{> "modules/daggerheart-sleek-ui/templates/companions/tabs/companion-details.hbs"}}
    </div>
  {{/if}}
  
  {{#if tabs.effects.active}}
    <div class="tab-pane active" data-tab="effects">
      {{> "modules/daggerheart-sleek-ui/templates/companions/tabs/companion-effects.hbs"}}
    </div>
  {{/if}}