<div class="compact divider" draggable="true" data-item-uuid="{{dividerUuid}}">

  <div class="divider-line"> </div>

  <div class="hover-area remove">
    <div
      class="remove-quick-access"
      data-action="removeFromQuickAccess"
      data-item-uuid="{{dividerUuid}}"
    >
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
</div>