{{#unless item.system.vaultActive}}
  <div
    class="resource recall-resource"
    data-tooltip="DAGGERHEART.ITEMS.DomainCard.recallCost"
  >
    <span>
      {{item.system.recallCost}}
    </span>
    <i class="fa-solid fa-bolt"></i>
  </div>
{{/unless}}