<div class="main-content">
    
    <div class="header-content">
        {{> "modules/daggerheart-sleek-ui/templates/characters/main/header.hbs"}}
    </div>

    {{> "modules/daggerheart-sleek-ui/templates/components/tabs-basic.hbs"}}

    <div class="tab-content">
        {{> "modules/daggerheart-sleek-ui/templates/characters/main/tabs.hbs"}}
    </div>

</div>