/* ==================== 
   CHARACTER INFORMATION
   ==================== */

.daggerheart.sheet.actor.sleek-ui .character-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
  height: fit-content;
  margin-top: var(--spacing-xs);
}

.daggerheart.sheet.actor.sleek-ui .character-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-tiny);
}

.daggerheart.sheet.actor.sleek-ui .actor-name {
  border-radius: var(--border-radius-s);
  padding: var(--spacing-tiny);
  padding-left: var(--spacing-xs);
  transform: translateX(-8px);
  width: calc(100% + 8px);
  cursor: text;
}

.daggerheart.sheet.actor.sleek-ui .actor-name:hover {
  background: var(--color-background-secondary);
}

.daggerheart.sheet.actor.sleek-ui .actor-name:focus {
  outline: none;
  background: var(--color-background-dark);
}

/* ==================== 
   LEVEL
   ==================== */

.daggerheart.sheet.actor.sleek-ui .character-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 72px;
  height: 100%;
  padding: var(--spacing-xs) var(--spacing-xs);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.daggerheart.sheet.actor.sleek-ui .level-button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  background: var(--color-tertiary);
  color: var(--color-background-dark);
  transition: none;
  position: absolute;
  right: 94px;
}

.daggerheart.sheet.actor.sleek-ui .level-button:hover {
  box-shadow: 0px 0px 9px -1px var(--color-tertiary);
}

/* ==================== 
   HEADER DETAILS
   ==================== */

.daggerheart.sheet.actor.sleek-ui .header-details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

/* ==================== 
   HOPE
   ==================== */

.daggerheart.sheet.actor.sleek-ui .hope-domains-rest-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  gap: var(--spacing-xs);
}

.daggerheart.sheet.actor.sleek-ui .hope-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: var(--spacing-xs);
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-md);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.daggerheart.sheet.actor.sleek-ui .hope-container:has(h3:hover) {
  box-shadow: 0px 0px 9px -1px var(--color-border);
}

.daggerheart.sheet.actor.sleek-ui .hope-container h3 {
  height: 100%;
  padding: 0 var(--spacing-xs);
  align-content: center;
  cursor: pointer;
}

.daggerheart.sheet.actor.sleek-ui .hope-container .hope-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-sm);
}

.daggerheart.sheet.actor.sleek-ui .hope-icon-full {
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  transform: rotate(45deg);
  background: linear-gradient(
    135deg,
    rgba(228, 149, 80, 1) 0%,
    rgba(243, 194, 103, 1) 100%
  );
  box-shadow:
    inset 1px 1px 1px 0px #ffdb9e,
    0px 0px 16px 0px rgba(243, 194, 103, 0.5);
}

.daggerheart.sheet.actor.sleek-ui .hope-icon-empty {
  cursor: pointer;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  transform: rotate(45deg);
  border: 1px solid var(--color-border);
}

.daggerheart.sheet.actor.sleek-ui
  .hope-container
  .hope-bar
  .hope-icon-empty:hover {
  background: var(--color-background-resourceHover);
}

/* ==================== 
   DOMAINS
   ==================== */

.daggerheart.sheet.actor.sleek-ui .domains-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-xs);
  height: 100%;
  margin-right: auto;
}

.daggerheart.sheet.actor.sleek-ui .domains-container .domain {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}

.daggerheart.sheet.actor.sleek-ui .domains-container .domain img {
  width: 26px;
  height: 26px;
  filter: invert(100%) sepia(5%) saturate(5777%) hue-rotate(307deg)
    brightness(101%) contrast(90%);
}

/* ==================== 
   REST
   ==================== */

.daggerheart.sheet.actor.sleek-ui .btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-xs);
  height: 100%;
}

.daggerheart.sheet.actor.sleek-ui .btn-container button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  background: var(--gradient-card);
  color: var(--color-primary);
  transition: none;
}

.daggerheart.sheet.actor.sleek-ui .btn-container button:hover {
  box-shadow: 0px 0px 9px -1px var(--color-border);
}

/* ==================== 
   VALUES 
   ==================== */

.daggerheart.sheet.actor.sleek-ui .values-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-xs);
  height: 32px;
}

.daggerheart.sheet.actor.sleek-ui .values-row .values-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
  height: 100%;
  padding: 0 var(--spacing-md);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.daggerheart.sheet.actor.sleek-ui .values-row .values-container.thresholds {
  flex: 1;
  gap: var(--spacing-sm);
  padding: 0;
}

.daggerheart.sheet.actor.sleek-ui
  .values-row
  .values-container.thresholds:has(.threshold-damage:hover) {
  box-shadow: 0px 0px 9px -1px var(--color-border);
}

.daggerheart.sheet.actor.sleek-ui
  .values-row
  .values-container.thresholds
  .threshold-damage {
  display: inline-block;
  padding: var(--spacing-tiny);
  cursor: pointer;
}

.daggerheart.sheet.actor.sleek-ui
  .values-row
  .values-container.thresholds
  .threshold-damage:hover {
  color: var(--color-tertiary) !important;
}

/* ==================== 
   RESOURCES
   ==================== */

.daggerheart.sheet.actor.sleek-ui .resources-row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
}

.daggerheart.sheet.actor.sleek-ui .resources-row .resource-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-tiny);
  padding: var(--spacing-sm);
  padding-top: var(--spacing-tiny);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  flex: 1;
  justify-content: center;
  align-items: center;
}

.daggerheart.sheet.actor.sleek-ui
  .resources-row
  .resource-container:has(.resource-header:hover) {
  box-shadow: 0px 0px 9px -1px var(--color-border);
}

.daggerheart.sheet.actor.sleek-ui
  .resources-row
  .resource-container
  .resource-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs) 0;
  cursor: pointer;
}

.daggerheart.sheet.actor.sleek-ui .resource-bar {
  display: flex;
  flex-direction: row;
  height: 12px;
  width: 100%;
  gap: 2px;
}

.daggerheart.sheet.actor.sleek-ui .resource-pip {
  flex: 1;
  height: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.daggerheart.sheet.actor.sleek-ui .resource-pip.empty {
  border: 1px solid var(--color-border);
}

.daggerheart.sheet.actor.sleek-ui .resource-pip.empty:hover {
  background: var(--color-background-resourceHover);
}

.daggerheart.sheet.actor.sleek-ui .resource-pip.filled {
  border: 1px solid transparent;
}

.daggerheart.sheet.actor.sleek-ui .resource-pip.pip-hitpoints.filled {
  background: linear-gradient(180deg, #c42a44 0%, #e84747 100%);
  box-shadow: inset 0px 0.5px 0.5px 0.5px #ff988b;
}

.daggerheart.sheet.actor.sleek-ui .resource-pip.pip-stress.filled {
  background: linear-gradient(180deg, #5a3be6 0%, #6177e3 100%);
  box-shadow: inset 0px 0.5px 0.5px 0.5px #81a9ff;
}

.daggerheart.sheet.actor.sleek-ui .resource-pip.pip-armor.filled {
  background: linear-gradient(180deg, #77868c 0%, #c8d0d3 100%);
  box-shadow: inset 0px 0.5px 0.5px 0.5px #ffffff;
}

/* ==================== 
   TRAITS
   ==================== */

.daggerheart.sheet.actor.sleek-ui .traits-row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
}

.daggerheart.sheet.actor.sleek-ui .traits-row .trait-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: var(--spacing-sm);
  padding-top: var(--spacing-md);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background: var(--gradient-trait);
  cursor: pointer;
}

.daggerheart.sheet.actor.sleek-ui .traits-row .trait-container:hover {
  box-shadow: 0px 0px 9px -1px var(--color-border);
}

.daggerheart.sheet.actor.sleek-ui .traits-row .spellcast-trait {
  border: 1px solid var(--color-border-spellcast);
  background: var(--gradient-spellcast-trait);
}

.daggerheart.sheet.actor.sleek-ui .traits-row .spellcast-trait:hover {
  box-shadow: 0px 0px 9px -1px var(--color-border-spellcast);
}

.daggerheart.sheet.actor.sleek-ui .traits-row .trait-container .trait-unmarked {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--color-border);
}

.daggerheart.sheet.actor.sleek-ui .traits-row .spellcast-trait .trait-unmarked {
  border: 1px solid var(--color-border-spellcast);
}

.daggerheart.sheet.actor.sleek-ui .traits-row .trait-container .trait-marked {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-border);
}

.daggerheart.sheet.actor.sleek-ui .traits-row .spellcast-trait .trait-marked {
  background: var(--color-border-spellcast);
}
